<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet"> 
    <!-- <link rel="icon" href="heart.gif" type="image/gif" > -->
    <link rel="icon" href="heart_32x32.png" type="image/png" >
    <title>Life</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="Life, death, weeks, remaining">
    <meta name="author" content="Thrshan J">
    <meta name="description" content="Visually see how many weekes has passed from you birth and how many weeks remaining">
    <meta property="og:title" content="Life in weekes" />
    <meta property="og:url" content="https://life-time.azurewebsites.net/" />
    <meta property="og:description" content="Visual presentation of your lifetime in weeks" />
    <meta property="og:image" content="https://life-time.azurewebsites.net/heart_32x32.png" />
</head>
<body>